<template>
    <section class="model-page" v-bind:style="{ backgroundImage: 'url(' + image + ')' }">
        <h1>{{$route.params.id}}</h1>
    </section>
</template>

<script>
    export default {
        name: "model-page-_",
        data(){
            return{
                image: require('~/static/images/models/model-' + (2) + '/' + this.$route.params.id +  '.jpg'),
            }
        },

    }
</script>

<style scoped>
    .model-page{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: left top;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
</style>
