<template>
  <section class="first-case">
    <div class="first-case_slider" :data-currentSlide="this.currentSlide" @wheel="scrollSlider">
      <svg class="slide"  xmlns="http://www.w3.org/2000/svg">
        <defs>
          <mask id='mask-0' x='0' y='0' width='100%' height='100%'>
            <rect height="525px" width="350px" x="75px" fill="#fff"
                v-bind:style="'transform: translateY(' + this.masksProperties.mask1.fastScaleY + 'px)'"
                v-bind:y="'calc(50% - 240px + ' + this.masksProperties.mask1.scaleY + 'px)'"/>
          </mask>
        </defs>
        <nuxt-link tag="image" v-bind:to="'/inspire/model-' + (currentSlide + 1)" width='100' height='100'  mask='url(#mask-0)'
               v-for="(image,index) in 3" v-bind:key="'0.' + index"
               v-bind:y="'calc(50% - 375px + (750px * ' + index +') - (750px * ' + maskOne + ') + ' + masksProperties.mask1.imageFirstScale + 'px)'"
               v-bind:xlink:href="require('~/static/images/models/model-' + (2) + '/model-' + (index + 1) +  '.jpg')"/>
      </svg>

      <svg class="slide"  xmlns="http://www.w3.org/2000/svg">
        <defs>
          <mask id='mask-1' x='0' y='0' width='100%' height='100%'>
            <rect height="525px" width="350px" x="calc(75px + 350px + 30px)" fill="#fff"
                  v-bind:style="'transform: translateY(' + this.masksProperties.mask2.fastScaleY + 'px)'"
                  v-bind:y="'calc(50% - 300px + ' + this.masksProperties.mask2.scaleY + 'px + ' + this.masksProperties.mask2.fastScaleY + 'px)'"/>
          </mask>
        </defs>
        <nuxt-link tag="image" v-bind:to="'/inspire/model-' + (currentSlide + 1)" width='100' height='100'  mask='url(#mask-1)'
               v-for="(image,index) in 3" v-bind:key="'1.' + index"
               v-bind:y="'calc(50% - 375px + (750px * ' + index +') - (750px * ' + maskTwo + ') + ' + masksProperties.mask2.imageFirstScale + 'px)'"
               v-bind:xlink:href="require('~/static/images/models/model-' + (2) + '/model-' + (index + 1) +  '.jpg')"/>
      </svg>

      <svg class="slide"  xmlns="http://www.w3.org/2000/svg">
        <defs>
          <mask id='mask-2' x='0' y='0' width='100%' height='100%'>
            <rect height="525px" width="350px" x="calc(75px + 350px + 30px + 350px + 30px)" fill="#fff"
                  v-bind:style="'transform: translateY(' + this.masksProperties.mask3.fastScaleY + 'px)'"
                  v-bind:y="'calc(50% - 275px + ' + this.masksProperties.mask3.scaleY + 'px + ' + this.masksProperties.mask3.fastScaleY + 'px)'"/>
          </mask>
        </defs>
        <nuxt-link tag="image" v-bind:to="'/inspire/model-' + (currentSlide + 1)" width='100' height='100'  mask='url(#mask-2)'
               v-for="(image,index) in 3" v-bind:key="'2.' + index"
               v-bind:y="'calc(50% - 375px + (750px * ' + index +') - (750px * ' + maskThree + ') + ' + masksProperties.mask3.imageFirstScale + 'px)'"
               v-bind:xlink:href="require('~/static/images/models/model-' + (2) + '/model-' + (index + 1) +  '.jpg')"/>
      </svg>
    </div>
    <div class="first-case_model-description">
      <h2></h2>
    </div>
  </section>
</template>

<script>
    export default {
        name: "inspire",
        transition: function (to, from) {
            console.log(to.name);
            if(from){
                if (from.name === 'inspire' && (to.name.indexOf('inspire-id') !== -1)){
                    return {
                        name: 'leave-slider',
                        css: false,
                        leave: function(el,done) {
                            let currentSlide = el.querySelector('.first-case_slider').getAttribute('data-currentSlide');

                            let slides = el.querySelectorAll('.slide'),
                                mask1 = el.querySelector('#mask-0 rect'),
                                mask2 = el.querySelector('#mask-1 rect'),
                                mask3 = el.querySelector('#mask-2 rect');

                            slides.forEach((el)=>{
                                el.classList.remove('slide-static-animate');
                                el.classList.add('slide-fullScreen-animate');
                                el.querySelectorAll('image').forEach((elem,index) =>{
                                    if (index !== parseInt(currentSlide)) {
                                        elem.style.display = 'none';
                                    }
                                });
                            });

                            setTimeout(()=>{
                                mask1.style.x = '0';
                                mask1.style.y = '0';

                                let timeline = new TimelineLite();

                                timeline.to(mask1,0,{
                                    width: '34%',
                                    height: '100%',
                                });

                                let image = slides[0].querySelectorAll('image')[currentSlide];

                                image.classList.add('active-image')
                            },350);

                            setTimeout(()=>{
                                mask2.style.x = 'calc(34%)';
                                mask2.style.y = '0';

                                let timeline = new TimelineLite();

                                timeline.to(mask2,0,{
                                    width: '33%',
                                    height: '100%',
                                });

                                let image = slides[1].querySelectorAll('image')[currentSlide];

                                image.classList.add('active-image')
                            },175);

                            setTimeout(()=>{
                                mask3.style.x = 'calc(100% - 33%)';
                                mask3.style.y = '0';

                                let timeline = new TimelineLite();

                                timeline.to(mask3,0,{
                                    width: '33%',
                                    height: '100%',
                                });

                                let image = slides[2].querySelectorAll('image')[currentSlide];

                                image.classList.add('active-image')
                            },0);

                            setTimeout(() => {
                                console.log('end animate!');
                                done();
                            },1750)
                        },
                    }
                }
            }
        },
        data () {
            return {
                sliderState: false,
                currentSlide: 0,
                maskOne: 0,
                maskTwo: 0,
                maskThree: 0,
                transformState: true,
                masksProperties: {
                    mask1:{
                        scaleY: 1000,
                        imageFirstScale: 1000,
                        fastScaleY: 0,
                        scaleTop: -10,
                        scaleBottom: -10,
                        state: true
                    },
                    mask2:{
                        scaleY: 1000,
                        imageFirstScale: 1000,
                        fastScaleY: 0,
                        scaleTop: 20,
                        scaleBottom: 20,
                        state: true
                    },
                    mask3:{
                        scaleY: 1000,
                        imageFirstScale: 1000,
                        fastScaleY: 0,
                        scaleTop: -35,
                        scaleBottom: -35,
                        state: true
                    }
                },
                models: [],
            }
        },
        methods: {
            scrollSlider(){
                if (this.sliderState){
                    this.sliderState = false;

                    setTimeout(() => {
                        if (this.transformState){
                            this.masksProperties.mask1.fastScaleY = -35;
                            this.masksProperties.mask2.fastScaleY = 35;
                            this.masksProperties.mask3.fastScaleY = -35;
                            this.transformState = false;
                        } else {
                            this.masksProperties.mask1.fastScaleY = 35;
                            this.masksProperties.mask2.fastScaleY = -35;
                            this.masksProperties.mask3.fastScaleY = 35;
                            this.transformState = true;
                        }
                    },0);

                    setTimeout(()=>{
                        this.sliderState = true;
                    },500);

                    if (event.deltaY > 0){
                        if (this.currentSlide < 2){
                            this.currentSlide++;

                            setTimeout(()=>{
                                this.maskOne++;
                            },0);

                            setTimeout(()=>{
                                this.maskTwo++;
                            },50);

                            setTimeout(()=>{
                                this.maskThree++;
                            },100);
                        } else {
                            this.currentSlide = 0;

                            setTimeout(()=>{
                                this.maskOne = 0;
                            },0);

                            setTimeout(()=>{
                                this.maskTwo = 0;
                            },50);

                            setTimeout(()=>{
                                this.maskThree = 0;
                            },100);
                        }
                    } else {
                        if (this.currentSlide > 0){
                            this.currentSlide--;

                            setTimeout(()=>{
                                this.maskOne--;
                            },0);

                            setTimeout(()=>{
                                this.maskTwo--;
                            },175);

                            setTimeout(()=>{
                                this.maskThree--;
                            },100);
                        } else {
                            this.currentSlide = 2;

                            setTimeout(()=>{
                                this.maskOne = 2;
                            },0);

                            setTimeout(()=>{
                                this.maskTwo = 2;
                            },175);

                            setTimeout(()=>{
                                this.maskThree = 2;
                            },100);
                        }
                    }
                }
            },
        },
        mounted () {
            this.$el.querySelectorAll('.slide').forEach((el) => {
                el.classList.add('slide-first-animate');
            });


            setTimeout(() => {
                this.masksProperties.mask1.scaleY = 0;
                this.masksProperties.mask1.imageFirstScale = 0;
            },0);
            setTimeout(() => {
                this.masksProperties.mask2.scaleY = 0;
                this.masksProperties.mask2.imageFirstScale = 0;
            },400);
            setTimeout(() => {
                this.masksProperties.mask3.scaleY = 0;
                this.masksProperties.mask3.imageFirstScale = 0;
            },200);

            setTimeout(() => {
                this.$el.querySelectorAll('.slide').forEach((el) => {
                    el.classList.remove('slide-first-animate');
                    el.classList.add('slide-static-animate');
                });
            },1250);


            let transformMask = (element) => {
                if (element.state){
                    element.scaleY = -element.scaleBottom;

                    element.state = !element.state;
                } else {
                    element.scaleY = element.scaleTop;

                    element.state = !element.state;
                }
            };
            setTimeout(() => {
                let context = this;

                (function repeatAnimateMasks() {
                    for (const mask in context.masksProperties) {
                        transformMask(context.masksProperties[mask])
                    }

                    setTimeout(repeatAnimateMasks, 10000);
                })();

                context.sliderState = true;
            }, 1250);

            //this.models = await this.$axios.get('https://jsonplaceholder.typicode.com/users');

            //console.log(this.models.data[0].name)
        }
    }
</script>

<style lang="scss">
  .first-case{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    $primary-color-mask: rgba(255, 255, 255, 0.4);
    &_slider{
      width: 75%;
      height: 100%;
      position: relative;
      overflow: hidden;
      svg{
        position: fixed;
        left: 80px;
        top: 64px;
        width: calc(100% - 80px);
        height: calc(100% - 64px);
        image{
          width: 1350px;
          height: 750px;
          object-fit: cover;
          cursor: pointer;
          x: 0;
        }
        .active-image{
          width: 100%;
          height: auto;
          y: 0;
          x: 0;
          z-index: 25;
        }
      }
      .slide-first-animate{
        defs{
          mask{
            rect{
              transition: y ease 0.375s;
            }
          }
        }
        image{
          transition: all ease 0.375s
        }
      }
      .slide-static-animate{
        defs{
          mask{
            rect{
              transition: y ease 10.75s, transform ease 1.25s;
            }
          }
        }
        image{
          transition: y ease 1s;
        }
      }
      .slide-fullScreen-animate{
        defs{
          mask{
            rect{
              transition: all cubic-bezier(.13,.69,0,1) 1.25s;
              transform: translateY(0)!important;
            }
          }
        }
        image{
          transition: all cubic-bezier(.13,.69,0,1) 1.25s;
        }
      }
    }
    &_model-description{
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      h2{
        font-family: Raleway, sans-serif;
        font-size: 32px;
        letter-spacing: 4px;
        color: white;
      }
    }
  }
</style>
