<template>
  <v-layout column justify-center align-center :style="'height: 100%;'">
    <v-flex xs12 sm8 md6>
      <v-card class="pa-4">
        <v-card-title class="headline">
          Welcome to my first Nuxt + Vuetify project!
        </v-card-title>
        <v-card-text style="max-width: 925px">
          <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, eaque eius eligendi error ex fugiat, hic modi mollitia
              nostrum, odit pariatur placeat repellat? Aliquam, dignissimos excepturi hic molestiae sapiente ut!</span><span>Ad alias
            culpa impedit maiores nisi possimus sapiente. Accusamus accusantium adipisci atque excepturi expedita explicabo facere fugit
            illum ipsa laudantium minima neque non, odit, ratione reiciendis soluta sunt totam voluptas!</span><span>Ad aspernatur
            assumenda at, blanditiis dolorem doloremque ducimus ea eos excepturi explicabo facilis, fugit hic natus, perspiciatis
            possimus provident quasi quo ratione saepe sequi sint sunt suscipit vero voluptas voluptates!</span><span>Commodi, culpa
            distinctio dolores eius fugiat ipsam nisi nulla omnis quia quos reprehenderit sit voluptate voluptatem! Cum debitis dolorem
            error explicabo, ipsam iusto magni, minus pariatur placeat praesentium sapiente suscipit!</span><span>Alias architecto
            consequatur cupiditate delectus dolorem, doloremque ea eius harum, illum ipsum libero minus necessitatibus neque nihil nobis
            numquam optio quas quo sint tempora tenetur totam, veritatis vitae voluptatem voluptatibus?</span>
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur illo in ipsum officia quam rem tempore vero voluptas.
            Aperiam beatae, enim eum eveniet fuga impedit itaque modi nesciunt qui suscipit?</p>
          <div class="text-xs-right">
            <em><small>&mdash; Las Vegas</small></em>
          </div>
          <hr class="my-3">
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            nuxt
            to="/inspire"
          >
            Continue
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  components: {

  },
}
</script>

<style lang="scss">

</style>
